*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}


body {
  font-family: $font-family-main;

  &.light {
    background-color: $body-background--light;
  }

  &.dark {
    background-color: $body-background--dark;
  }
}