// Structure
.chip {
  width: 77px;
  height: 80px;
  padding: 4px;
  border-radius: 4px;

  .chip-btn {
    font-family: $font-family-main;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 100%;
    height: 100%;
    padding: 4px 2px;
    border-radius: 4px;
    border: 1px solid transparent;

    // color: unset;

    .chip-content {

      &__line-1,
      &__line-2,
      &__line-3 {
        width: 100%;
        line-height: 1.1;
      }

      &__line-1 {
        display: flex;
        justify-content: space-between;

        .left,
        .right {
          overflow: hidden;
          text-overflow: ellipsis;
          font-family: sans-serif;
        }

        .left {
          font-size: 12px;
          padding-left: 3px;
        }

        .right {
          font-size: 10px;
          padding-right: 3px;
        }
      }

      &__line-2 {
        min-width: 40px;

        &.center {
          display: flex;
          justify-content: center;
          font-size: 24px;
          font-weight: 500;
        }
      }

      &__line-3 {
        overflow: hidden;
        text-overflow: ellipsis;

        &.center {
          font-size: 10px;
          font-family: sans-serif;
        }
      }
    }
  }

}

// Colours
.chip-light {
  .chip-btn {
    color: $chip-text-color--light;
  }

  &.chip-state {
    &--solid {
      background: linear-gradient(to right bottom,
          $chip-gradient--solid-1--light,
          $chip-gradient--solid-2--light );
    }

    &--liquid {
      background: linear-gradient(to right bottom,
          $chip-gradient--liquid-1--light,
          $chip-gradient--liquid-2--light );
    }

    &--gas {
      background: linear-gradient(to right bottom,
          $chip-gradient--gas-1--light,
          $chip-gradient--gas-2--light );
    }

    &--unknown {
      background: linear-gradient(to right bottom,
          $chip-gradient--unknown-1--light,
          $chip-gradient--unknown-2--light );
    }
  }


  &.chip-s-block {
    .chip-btn {
      background-color: $s-block---btn-bg--light;
    }
  }

  &.chip-f-block {
    .chip-btn {
      background-color: $f-block---btn-bg--light;
    }
  }

  &.chip-d-block {
    .chip-btn {
      background-color: $d-block---btn-bg--light;
    }
  }

  &.chip-p-block {
    .chip-btn {
      background-color: $p-block---btn-bg--light;
    }
  }

  &.opaque {
    opacity: 0.2;
  }
}


.chip-dark {
  .chip-btn {
    color: $chip-text-color--dark;
  }

  &.chip-state {
    &--solid {
      background: linear-gradient(to right bottom,
          $chip-gradient--solid-1--dark,
          $chip-gradient--solid-2--dark );
    }

    &--liquid {
      background: linear-gradient(to right bottom,
          $chip-gradient--liquid-1--dark,
          $chip-gradient--liquid-2--dark );
    }

    &--gas {
      background: linear-gradient(to right bottom,
          $chip-gradient--gas-1--dark,
          $chip-gradient--gas-2--dark );
    }

    &--unknown {
      background: linear-gradient(to right bottom,
          $chip-gradient--unknown-1--dark,
          $chip-gradient--unknown-2--dark );
    }
  }


  &.chip-s-block {
    .chip-btn {
      background-color: $s-block---btn-bg--dark;
    }
  }

  &.chip-f-block {
    .chip-btn {
      background-color: $f-block---btn-bg--dark;
    }
  }

  &.chip-d-block {
    .chip-btn {
      background-color: $d-block---btn-bg--dark;
    }
  }

  &.chip-p-block {
    .chip-btn {
      background-color: $p-block---btn-bg--dark;
    }
  }

  &.opaque {
    opacity: 0.2;
  }
}