.block {

  .block-header {
    font-size: torem(14);
  }

  .block-text {
    font-size: torem(12);
  }

  .block-footnote {
    margin-top: torem(5);
    font-size: torem(9);
    font-style: italic;
  }

  .block-list {}

  // Toggle
  &.toggle-block {
    font-family: $font-family-main;
    font-size: torem(14);
    border-radius: torem(4);
    padding: torem(10);
    margin: auto;
  }

  .toggle-block {
    &__mode {
      display: flex;
      align-items: center;
      column-gap: torem(10);

      &.light {
        color: $text-color--light;
      }

      &.dark {
        color: $text-color--dark;
      }

      .light-dark-switch {
        position: relative;
        display: inline-block;
        width: torem(30);
        height: torem(18);


        input[type=checkbox] {
          opacity: 0;
          width: 0;
          height: 0;
        }

        // Slider
        .slider {
          position: absolute;
          top: 0;
          right: 0;
          bottom: 0;
          left: 0;
          background-color: #ccd7e1;
          border: 1px solid #5c7890;
          transition: 0.4s;
          -webkit-transition: 0.4s;
          border-radius: torem(4);
          ;
        }

        // Thumb
        .slider:before {
          position: absolute;
          content: "";
          height: torem(10);
          width: torem(10);
          left: torem(4);
          bottom: torem(3);
          background-color: white;
          transition: .4s;
          -webkit-transition: .4s;
          border-radius: torem(3);
        }

        input:checked+.slider {
          background-color: #5c7890;
        }

        input:focus+.slider {
          box-shadow: 0 0 1px #7799b6;
        }

        input:checked+.slider:before {
          transform: translateX(torem(11));
        }

      }
    }
  }

  // Details
  &.details {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: torem(20);
    font-family: $font-family-main;

    .chip {
      width: torem(160);
      height: torem(160);
      padding: torem(10);
      border-radius: torem(12);
      margin: 0;

      .chip-btn {
        border-radius: torem(12);

        .chip-content {
          &__line-1 {
            .left {
              font-size: torem(22);
            }

            .right {
              font-size: torem(18);
            }
          }

          &__line-2.center {
            font-size: torem(64);
            font-weight: bold;
          }

          &__line-3 {
            font-size: torem(22);
          }
        }
      }
    }

    .sidebar {
      font-size: torem(10);

      &.light {
        color: $text-color--light;
      }

      &.dark {
        color: $text-color--dark;
      }

      .sidebar-properties {
        list-style-type: none;

        .item {
          display: flex;
          column-gap: torem(5);
          line-height: 1.5;

          .property {
            display: inline-block;
            width: torem(120);
            word-wrap: normal;
          }

          .value {
            width: torem(100);
          }
        }
      }
    }
  }
}

.legend-block {
  width: torem(210);
  padding: torem(12);
  display: flex;
  flex-direction: column;
  justify-content: end;

  &--light {
    color: $text-color--light;
  }

  &--dark {
    color: $text-color--dark;
  }
}

.legend {
  &__list-item {
    display: flex;
    align-items: center;
    column-gap: torem(10);
    margin: torem(3) auto;
  }

  &__chip {
    .chip-btn {
      border-radius: torem(2);
    }
  }

  &__description {
    list-style-type: none;
    margin: 0;
    padding: 0;

    .chip {
      height: torem(18);
      width: torem(18);
    }
  }


}