@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import 'primeicons/primeicons.css';
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}
body.light {
  background-color: #f0efef;
}
body.dark {
  background-color: #2a3341;
}

.table-header {
  display: flex;
}
.table-header {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 1.25rem;
}
.table-header__icon {
  font-size: 3rem;
}
.table-header__title {
  font-size: 3rem;
}
.table-header.light {
  color: #07090C;
}
.table-header.dark {
  color: #d5dbe6;
}

.periodic-table-grid {
  display: grid;
}
.periodic-table-grid.medium {
  grid-template-columns: repeat(18, auto);
  grid-template-rows: repeat(9, auto);
  grid-gap: 0.1875rem;
}
.periodic-table-grid.medium .chip-11,
.periodic-table-grid.medium .chip-55,
.periodic-table-grid.medium .chip-87 {
  grid-column: 1;
}
.periodic-table-grid.medium .chip-2 {
  grid-column: 18;
}
.periodic-table-grid.medium .chip-5,
.periodic-table-grid.medium .chip-13 {
  grid-column: 13/14;
}
.periodic-table-grid.medium .chip-f-block-1 {
  grid-row: 8;
  margin-top: 1.5rem;
}
.periodic-table-grid.medium .chip-f-block-2 {
  grid-row: 9;
}
.periodic-table-grid.medium .sp-spacer {
  grid-column: 3/4;
  grid-row: 6/10;
}
.periodic-table-grid.medium .legend-block {
  grid-column: 1/4;
  grid-row: 8/10;
}
.periodic-table-grid.medium .details {
  grid-column: 3/10;
  grid-row: 1/4;
  border-radius: 0.25rem;
}
.periodic-table-grid.medium .tick-block {
  grid-column: 10/13;
  grid-row: 1/4;
}
.periodic-table-grid.medium .toggle-block {
  grid-column: 13/18;
  grid-row: 1/2;
}
.periodic-table {
  width: fit-content;
  margin: auto;
  padding: 1.25rem 1.875rem;
}
.periodic-table.table-light {
  box-shadow: #c9c9c9 0.3125rem 0.3125rem 0.3125rem;
  background-color: #fcfcec;
}
.periodic-table.table-dark {
  box-shadow: #5b5a5a 0.3125rem 0.3125rem 0.3125rem;
  background-color: #1e252f;
}

.chip {
  width: 4.25rem;
  height: 4.25rem;
  padding: 0.1875rem;
  border-radius: 0.5rem;
}
.chip .chip-btn {
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  padding: 0.25rem 0.125rem;
  border-radius: 0.375rem;
  border: 1px solid transparent;
}
.chip .chip-btn .chip-content__line-1, .chip .chip-btn .chip-content__line-2, .chip .chip-btn .chip-content__line-3 {
  width: 100%;
  line-height: 1.1;
}
.chip .chip-btn .chip-content__line-1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.chip .chip-btn .chip-content__line-1 .left,
.chip .chip-btn .chip-content__line-1 .right {
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: sans-serif;
}
.chip .chip-btn .chip-content__line-1 .left {
  font-size: 0.625rem;
  padding-left: 0.1875rem;
}
.chip .chip-btn .chip-content__line-1 .right {
  font-size: 0.5rem;
  padding-right: 0.1875rem;
}
.chip .chip-btn .chip-content__line-2 {
  min-width: 2.5rem;
}
.chip .chip-btn .chip-content__line-2.center {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: 500;
}
.chip .chip-btn .chip-content__line-3 {
  overflow: hidden;
  text-overflow: ellipsis;
}
.chip .chip-btn .chip-content__line-3.center {
  font-size: 0.5625rem;
  font-family: sans-serif;
}

.chip-light .chip-btn {
  color: #07090c;
}
.chip-light.chip-state--solid {
  background: linear-gradient(to right bottom, #1e1e1e, #b6b6b6);
}
.chip-light.chip-state--liquid {
  background: linear-gradient(to right bottom, #920303, #fbbab1);
}
.chip-light.chip-state--gas {
  background: linear-gradient(to right bottom, #ff860e, #dfdf04);
}
.chip-light.chip-state--unknown {
  background: linear-gradient(to right bottom, #176d35, #a8e3bd);
}
.chip-light.chip-s-block .chip-btn {
  background-color: #fac2c2;
}
.chip-light.chip-f-block .chip-btn {
  background-color: #d8eaa0;
}
.chip-light.chip-d-block .chip-btn {
  background-color: #c2dbf6;
}
.chip-light.chip-p-block .chip-btn {
  background-color: #f7e893;
}
.chip-light.opaque {
  opacity: 0.2;
}

.chip-dark .chip-btn {
  color: #c8cfdc;
}
.chip-dark.chip-state--solid {
  background: linear-gradient(to right bottom, #e8e8e8, #3b3b3b);
}
.chip-dark.chip-state--liquid {
  background: linear-gradient(to right bottom, #f7374b, #5e0303);
}
.chip-dark.chip-state--gas {
  background: linear-gradient(to right bottom, #ffa20b, #783f06);
}
.chip-dark.chip-state--unknown {
  background: linear-gradient(to right bottom, #34ff7b, #125e2d);
}
.chip-dark.chip-s-block .chip-btn {
  background-color: #58111a;
}
.chip-dark.chip-f-block .chip-btn {
  background-color: #004225;
}
.chip-dark.chip-d-block .chip-btn {
  background-color: #002448;
}
.chip-dark.chip-p-block .chip-btn {
  background-color: #36301f;
}
.chip-dark.opaque {
  opacity: 0.2;
}

.block .block-header {
  font-size: 0.875rem;
}
.block .block-text {
  font-size: 0.75rem;
}
.block .block-footnote {
  margin-top: 0.3125rem;
  font-size: 0.5625rem;
  font-style: italic;
}
.block.toggle-block {
  font-family: "Poppins", sans-serif;
  font-size: 0.875rem;
  border-radius: 0.25rem;
  padding: 0.625rem;
  margin: auto;
}
.block .toggle-block__mode {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
}
.block .toggle-block__mode.light {
  color: #07090C;
}
.block .toggle-block__mode.dark {
  color: #d5dbe6;
}
.block .toggle-block__mode .light-dark-switch {
  position: relative;
  display: inline-block;
  width: 1.875rem;
  height: 1.125rem;
}
.block .toggle-block__mode .light-dark-switch input[type=checkbox] {
  opacity: 0;
  width: 0;
  height: 0;
}
.block .toggle-block__mode .light-dark-switch .slider {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #ccd7e1;
  border: 1px solid #5c7890;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  border-radius: 0.25rem;
}
.block .toggle-block__mode .light-dark-switch .slider:before {
  position: absolute;
  content: "";
  height: 0.625rem;
  width: 0.625rem;
  left: 0.25rem;
  bottom: 0.1875rem;
  background-color: white;
  transition: 0.4s;
  -webkit-transition: 0.4s;
  border-radius: 0.1875rem;
}
.block .toggle-block__mode .light-dark-switch input:checked + .slider {
  background-color: #5c7890;
}
.block .toggle-block__mode .light-dark-switch input:focus + .slider {
  box-shadow: 0 0 1px #7799b6;
}
.block .toggle-block__mode .light-dark-switch input:checked + .slider:before {
  transform: translateX(0.6875rem);
}
.block.details {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  column-gap: 1.25rem;
  font-family: "Poppins", sans-serif;
}
.block.details .chip {
  width: 10rem;
  height: 10rem;
  padding: 0.625rem;
  border-radius: 0.75rem;
  margin: 0;
}
.block.details .chip .chip-btn {
  border-radius: 0.75rem;
}
.block.details .chip .chip-btn .chip-content__line-1 .left {
  font-size: 1.375rem;
}
.block.details .chip .chip-btn .chip-content__line-1 .right {
  font-size: 1.125rem;
}
.block.details .chip .chip-btn .chip-content__line-2.center {
  font-size: 4rem;
  font-weight: bold;
}
.block.details .chip .chip-btn .chip-content__line-3 {
  font-size: 1.375rem;
}
.block.details .sidebar {
  font-size: 0.625rem;
}
.block.details .sidebar.light {
  color: #07090C;
}
.block.details .sidebar.dark {
  color: #d5dbe6;
}
.block.details .sidebar .sidebar-properties {
  list-style-type: none;
}
.block.details .sidebar .sidebar-properties .item {
  display: flex;
  column-gap: 0.3125rem;
  line-height: 1.5;
}
.block.details .sidebar .sidebar-properties .item .property {
  display: inline-block;
  width: 7.5rem;
  word-wrap: normal;
}
.block.details .sidebar .sidebar-properties .item .value {
  width: 6.25rem;
}

.legend-block {
  width: 13.125rem;
  padding: 0.75rem;
  display: flex;
  flex-direction: column;
  justify-content: end;
}
.legend-block--light {
  color: #07090C;
}
.legend-block--dark {
  color: #d5dbe6;
}

.legend__list-item {
  display: flex;
  align-items: center;
  column-gap: 0.625rem;
  margin: 0.1875rem auto;
}
.legend__chip .chip-btn {
  border-radius: 0.125rem;
}
.legend__description {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.legend__description .chip {
  height: 1.125rem;
  width: 1.125rem;
}

/*# sourceMappingURL=styles.css.map */
